<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
	<!-- ikonki https://www.w3schools.com/icons/icons_reference.asp -->
	<link rel="stylesheet" href="{{ asset('css/font-awensome.min.css') }}"/>
    </head>
    <body class="body">
	<nav class="bg-dark sticky-top">
	    <div class="container">
		<div class="row pt-1 pb-2">
		    <div class="col-sm-8">
		    <a href="{{url('homepage')}}" class="text-light"><i class="fa fa-home"></i></a>
		    {% if app.session.get('admin') is not empty %}
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('users')}}">Użytkownicy</a> 
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('classes')}}">Klasy</a>
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('class')}}">Klasa</a>
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('subjects')}}">Przedmioty</a>
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('lesson_hours')}}">Godziny lekcyjne</a>
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('rooms')}}">Sale</a>
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('time_table')}}">Plan zajęć</a>
			<a class="btn btn-outline-success btn-sm mt-1" href="{{url('settings')}}">Ustawienia</a>
		    {% endif %}

		    {% if app.session.get('teacher') is not empty %}
			<a class="btn btn-outline-primary btn-sm mt-1" href="{{url('teacher_check_presence')}}">Sprawdzanie obecności</a>
			<a class="btn btn-outline-primary btn-sm mt-1" href="{{url('teacher_insert_rating')}}">Wstawienie oceny</a>
			<a class="btn btn-outline-primary btn-sm mt-1" href="{{url('teacher_school_late')}}">Spóźnienia</a>
			<a class="btn btn-outline-primary btn-sm mt-1" href="{{url('teacher_time_table')}}">Plan zajęć</a>
			<a class="btn btn-outline-primary btn-sm mt-1" href="{{url('teacher_school_note')}}">Uwagi i pochwały</a>
		    {% endif %}
			
		    {% if app.session.get('classTeacher') is not empty %}
			<a class="btn btn-outline-info btn-sm mt-1" href="{{url('teacher_select_presence')}}">Obecności</a>
			<a class="btn btn-outline-info btn-sm mt-1" href="{{url('teacher_select_rating')}}">Oceny</a>
		    {% endif %}
		    
		    {% if app.session.get('student') is not empty %}
			<a class="btn btn-outline-light btn-sm mt-1" href="#">Oceny</a>
			<a class="btn btn-outline-light btn-sm mt-1" href="#">Plan zajęć</a>
			<a class="btn btn-outline-light btn-sm mt-1" href="#">Uwagi i pochwały</a>
			<a class="btn btn-outline-light btn-sm mt-1" href="#">Obecności</a>
		    {% endif %}
		    </div>
		    
		    <div class="col-sm-4 text-right">
		    {% if app.session.get('user')['user'] is defined %}
			    {% set sessionUser=app.session.get('user')['user'] %}
			    <span class="text-light pr-1">Zalogowany jako: <b>{{ sessionUser.login }}</b></span>
			{% endif %}
			{% if sessionUser is not defined %}
			    <a href="{{url('login')}}" class="text-light"><i class="fa fa-sign-in"></i></a>
			{% else %}
			    <a href="{{url('messages')}}" class="text-light">
				{% if app.session.get('newMessages') is defined and app.session.get('newMessages')>0 %}
				    <i class="fa fa-envelope"></i> <span class="message">({{ app.session.get('newMessages') }})</span>
				{% else %}
				    <i class="fa fa-envelope-o"></i>
				{% endif %} 
			    </a> 
			    <a href="{{url('logout')}}" class="text-light"><i class="fa fa-sign-out"></i></a>
			{% endif %}
		    </div>
		</div>
	    </div>
	</nav>
	<div class="container pt-1 pb-2 my-5 border rounded border-dark main bg-light">{% block body %}{% endblock %}</div>
	<footer class="bg-dark"><div class="container p-1 text-center text-light">Stopka strony</div></footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>