{% block title %}Oceny{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Oceny</h1>

    {% if ratings is not empty %}
	<table class="table table-hover table-light border border-dark">
	    <thead class="thead-dark">
	    <tr>
		<th>Ocena</th>
		<th>Typ</th>
	    </tr>
	    </thead>
	    <tbody> 
	    {% for rating in ratings %}
		<tr>
		    <td>{{rating.ocena}}</td>
		    <td>{{rating.typ}}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>
    {% else %}
	<div class="alert alert-info">Brak ocen.</div>
    {% endif %}
    
    {# formularz #}
    <div class="border border-dark mt-5">
	<div class="form-header">Oceny</div>
	<div class="form-body">
	{{form_start(form)}}
	<div class="form-group">
	    <div class="input-group mb-2">
		<div class="input-group-prepend">
		    <div class="input-group-text">Przedmiot</div>
		</div>
		{{ form_widget(form.przedmiot,{'attr':{'class':'form-control'}}) }}
	    </div>
	</div>
	{{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}}
	{{form_end(form)}}
	</div>
    </div>
{% endblock %}