{% block title %}Klasy{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    {# dane do wyświetlenia #}
    <h1 class="text-center my-3">Klasy</h1>
    {% if classes is not empty %}
	<table class="table table-hover table-light border border-dark">
	<thead class="thead-dark">
	    <tr>
		<th>Poziom</th>
		<th>Klasa</th>
		<th>Rocznik</th>
		<th>Wychowawca</th>
		<th>Edytuj</th>
		<th>Usuń</th>
	    </tr>
	</thead>
	<tbody>
	    {% for i in 0..classes|length-1 %}
		<tr>
		    <td>{{ classes[i].poziom }}</td>
		    <td>{{ classes[i].klasa }}</td>
		    <td>{{ classes[i].rocznik }}</td>
		    <td>{{ classes[i].wychowawca.imie }} {{ classes[i].wychowawca.nazwisko }}</td>
		    <td>
			<a class="btn btn-outline-primary" 
			   href="{{ url('classes',{'id':classes[i].id}) }}">
			    edytuj
			</a>
		    </td>
		    <td>
			<a class="btn btn-outline-danger" 
			   href="{{ url('classes',{'id':classes[i].id,'delete':1}) }}">
			    usuń
			</a>
		    </td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
    {% else %}
	<div class="alert alert-info">Brak danych.</div>
    {% endif %}
    
    {# formularz #}
    <div class="border border-dark mt-5">
	<div class="form-header">
	    {% if app.request.get('id')==0 %}
		Dodawanie klasy
	    {% else %}
		Edytowanie {{form.vars.value.poziom}}{{form.vars.value.klasa}}
	    {% endif %}
	</div>
	<div class="form-body">
	    {{form_start(form)}}
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Poziom</div>
		    </div>
		    {{form_widget(form.poziom,{'attr':{'class':'form-control'}})}}
		</div>
	    </div>
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Klasa</div>
		    </div>
		    {{form_widget(form.klasa,{'attr':{'class':'form-control'}})}}
		</div>
	    </div>
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Rocznik</div>
		    </div>
		    {{form_widget(form.rocznik,{'attr':{'class':'form-control'}})}}
		</div>
	    </div>
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Wychowawca</div>
		    </div>
		    {{form_widget(form.wychowawca,{'attr':{'class':'form-control'}})}}
		</div>
	    </div>
	    {{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}}
	    {{form_end(form)}}
    	</div>
    </div>
{% endblock %}