{% block title %}Godziny lekcyjne{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    {# dane do wyświetlenia #}
    <h1 class="text-center my-3">Godziny lekcyjne</h1>
    {% if lessonHours is not empty %}
    <table class="table table-hover table-light border border-dark table-responsive">
	<thead class="thead-dark">
	<tr>
	    <th>Początek</th>
	    <th>Edytuj</th>
	    <th>Usuń</th>
	</tr>
	</thead>
	{% for i in 0..lessonHours|length-1 %}
	    <tr>
		<td>{{ lessonHours[i].poczatek|date("G:i") }}</td>
		<td>
		    <a class="btn btn-outline-primary" 
		       href="{{ url('lesson_hours',{'id':lessonHours[i].id} ) }}">
			edytuj
		    </a>
		</td>
		<td>
		    <a class="btn btn-outline-danger" 
		       href="{{ url('lesson_hours',{'id':lessonHours[i].id,'delete':1} ) }}">
			usuń
		    </a>
		</td>
	    </tr>
	{% endfor %}
    </table>
    {% else %}
	<div class="alert alert-info">Brak danych.</div>
    {% endif %}
    
    {# formularz #}
    <div class="border border-dark mt-5">
	<div class="form-header">
	    {% if app.request.get('id')==0 %}
		Dodawanie godziny lekcyjnej
	    {% else %}
		Edytowanie godziny lekcyjnej
	    {% endif %}
	</div>
	<div class="form-body">
	    {{form_start(form)}}
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Godzina lekcyjna</div>
		    </div>
		    {{form_widget(form.poczatek,{'attr':{'class':'form-control'}})}}
		</div>
	    </div>
	    {{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}}
	    {{form_end(form)}}
	</div>
    </div>
{% endblock %}