{% block title %}Sale{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    {# dane do wyświetlenia #}
    <h1 class="text-center my-3">Sale lekcyjne</h1>
    {% if rooms is not empty %}
    <table class="table table-hover table-light border border-dark">
	<thead class="thead-dark">
	<tr>
	    <th>Nr sali</th>
	    <th>Opis</th>
	    <th>Edytuj</th>
	    <th>Usuń</th>
	</tr>
	</thead>
	<tbody>
	{% for i in 0..rooms|length-1 %}
	    <tr>
		<td>{{ rooms[i].nrSali }}</td>
		<td>{{ rooms[i].opis }}</td>
		<td><a class="btn btn-outline-primary" href="{{ url('rooms',{'id':rooms[i].id} ) }}">edytuj</a></td>
		<td><a class="btn btn-outline-danger" href="{{ url('rooms',{'id':rooms[i].id,'delete':1} ) }}">usuń</a></td>
	    </tr>
	{% endfor %}
    </tbody>
    </table>
    {% else %}
	<div class="alert alert-info">Brak danych.</div>
    {% endif %}

    {# formularz #}
    <div class="border border-dark mt-5">
	<div class="form-header">
	    {% if app.request.get('id')==0 %}
		Dodawanie sali lekcyjnej
	    {% else %}
		Edytowanie sali lekcyjnej
	    {% endif %}
	</div>
	<div class="form-body">
    {{ form_start(form) }}
	<div class="form-group">
	    <div class="input-group mb-2">
		<div class="input-group-prepend">
		    <div class="input-group-text">Nr sali</div>
		</div>
		{{form_widget(form.nrSali,{'attr':{'class':'form-control'}})}}
	    </div>
	</div>
	<div class="form-group">
	    <div class="input-group mb-2">
		<div class="input-group-prepend">
		    <div class="input-group-text">Opis</div>
		</div>
		{{form_widget(form.opis,{'attr':{'class':'form-control'}})}}
	    </div>
	</div>
	{{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}}
	{{ form_end(form) }}
	</div>
    </div>
{% endblock %}