{% block title %}Logowanie{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Logowanie</h1>
    {{form_start(form)}}
	<div class="form-group">
	    <div class="input-group mb-2">
		<div class="input-group-prepend">
		    <div class="input-group-text">Login</div>
		</div>
		{{form_widget(form.login,{'attr':{'class':'form-control'}})}}
	    </div>
	</div>
	<div class="form-group">
	<div class="input-group mb-2">
	    <div class="input-group-prepend">
		<div class="input-group-text">Hasło</div>
	    </div>
	    {{form_widget(form.haslo,{'attr':{'class':'form-control'}})}}
	</div>
    </div>
	{{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}} 
    {{form_end(form)}}
    
    {% if danger is defined %}
	<div class="alert alert-danger mt-3">{{danger}}</div>
    {% endif %}
{% endblock %}