{% block title %}Wiadomość{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Temat: <small>{{message.tytul}}</small></h1>
    
    <div>Od: <b>{{message.nadawca.login}}</b> do: <b>{{message.odbiorca.login}}</b></div>
    <div class="alert alert-dark my-1"><p>{{message.tresc}}</p></div>
    
    {% if message.zalacznik is not empty %}
	<a href="{{url('download',{'file':message.zalacznik})}}">Załącznik</a>
    {% endif %}
{% endblock %}