{% block title %}Obecności{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<h1>Obecności {% if term.ktoCo is defined %}dla {{term.ktoCo.przedmiot.nazwa}} {{term.klasa.poziom}}{{term.klasa.klasa}}{% endif %}</h1>
<select onchange="location=this.value;" class="form-control custom-select border-dark text-primary">
    <option value="{{url('time_table')}}">Wybierz klasę</option>
    {% for term in terms %}
	<option value="{{url('presence',{'term':term.id})}} ">
	    {{term.klasa.poziom}}{{term.klasa.klasa}} - {{term.dzienTygodnia}} {{term.godzina.poczatek|date('h-i')}}
	</option>
    {% endfor %}
</select>
{% if form is not empty %}
    {{form(form)}}
{% endif %}
{% endblock %}