{% block title %}Oceny{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Uwaga lub pochwała ucznia</h1>
    <select onchange="location=this.value;" class="form-control custom-select border-dark text-primary">
	<option value="{{url('time_table')}}">Wybierz klasę</option>
	{% for term in terms %}
	    <option value="{{url('teacher_school_note',{'term':term.id})}} ">
		{{term.klasa.poziom}}{{term.klasa.klasa}} - {{term.dzienTygodnia}} {{term.godzina.poczatek|date('h-i')}}
	    </option>
	{% endfor %}
    </select>

    {# formularz #}
    {% if form is defined %}	
	<div class="border border-dark mt-5">
	    <div class="form-header">Wstawianie oceny</div>
	    <div class="form-body">
	    {{form_start(form)}}
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Uczeń</div>
		    </div>
		    {{ form_widget(form.uczen,{'attr':{'class':'form-control custom-select'}}) }}
		</div>
	    </div>
	    <div class="form-group">
		<div class="input-group mb-2">
		    <div class="input-group-prepend">
			<div class="input-group-text">Treść</div>
		    </div>
		    {{ form_widget(form.tresc,{'attr':{'class':'form-control'}}) }}
		</div>
	    </div>
	    {{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}}
	    {{form_end(form)}}
	    </div>
	</div>
    {% endif %}
{% endblock %}