{% block title %}Oceny{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Oceny</h1>
    
    {% if rating is not empty %}
	<table class="table table-hover table-light border border-dark">
	    <thead class="thead-dark">
	    <tr>
		<th>Uczeń</th>
		<th>Przedmiot</th>
		<th>Ocena</th>
	    </tr>
	    </thead>
	    <tbody> 
	   {% for rate in rating %}
		<tr>
		    <td>{{rate.uczen.numerLegitymacji}}</td>
		    <td>{{rate.przedmiot.przedmiot.nazwa}}</td>
		    <td>{{rate.ocena}}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>
    {% else %}
	<div class="alert alert-info">Brak danych.</div>
    {% endif %}
     
    {{form_start(form)}}
    <div class="form-group">
	<div class="input-group mb-2">
	    <div class="input-group-prepend">
		<div class="input-group-text">Dzień</div>
	    </div>
	    {{ form_widget(form.uczen,{'attr':{'class':'form-control custom-select'}}) }}
	</div>
    </div>
    <div class="form-group">
	<div class="input-group mb-2">
	    <div class="input-group-prepend">
		<div class="input-group-text">Zajęcia</div>
	    </div>
	    {{ form_widget(form.przedmiot,{'attr':{'class':'form-control custom-select'}}) }}
	</div>
    </div>
    {{form_widget(form.submit,{'attr':{'class':'btn btn-primary','label':'default'},'label':'Wyślij'})}}
    {{form_end(form)}}
{% endblock %}